* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: rgb(54, 87, 51);
    border-bottom: 2px solid rgb(54, 87, 51);
}

a:hover, a:focus {
    text-decoration: none;
    color: rgb(176, 219, 187);
    border-bottom: 2px solid rgb(176, 219, 187);}

h3 {
    font-weight: 100;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0px;    
}

#profilePic {
    margin: 15px 0px;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 15px;
}

.header {
    text-align: center;
    top: auto;
    margin: 5px auto;
}

.sidebar {
    background: rgb(54, 87, 51);
    color: #fff;
    border-left: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
}

#myName, #tagline {
    margin: 5px 0px;
}

#tagline {
    font-weight: 300;
    color: rgb(176, 219, 187);
    font-style: italic;
}

.nav-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav-item {
    display: block;
    *display: inline;
    margin-bottom: 5px;
}

.nav-item a {
    border-bottom: 2px solid rgb(176, 219, 187);
    color: rgb(176, 219, 187);
    letter-spacing: 2px;
}

.nav-item a:hover,
.nav-item a:focus {
    color: white;
    border-bottom: 2px solid white;
    text-decoration: none;
}

.content {
    padding: 2em 1em 0;
    background-color: white;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-size: 1.75em;
    letter-spacing: -0.05em;
    color: rgb(54, 87, 51);
    margin-bottom: 0.2em;
}

.post-description {
    color: #444;
    line-height: 1.8em;
}

footer {
    padding: 1em 0;
}

footer li {
    list-style-type: none;
    margin-bottom: 3px;
}

@media (min-width: 48em) {

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }


    .footer {
        text-align: center;
    }
}