:root {
    --alignBig: right;
    --highlight: #fff;
    --sectionbg: #999;
    --sectionborder: 1px solid red;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

header, footer, aside {
    border: var(--sectionborder);
    background-color: var(--sectionbg);
}

header {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    align-self:center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    border: 1px solid black;
}

nav li {
    border: 1px solid red;
    list-style-type: none;
    margin-left: 25px;
}

.splashImage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    height: 250px;
    background-image: url('../Images/coffee.jpg');
    background-size: cover;
}

.splashImage p {
    justify-content: end;
    font-size: 30px;
    padding: 5px;
    background-color: burlywood;
}

main {
    background-color: #ddd;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--sectionbg);
    width:33%;
    border: var(--sectionborder);
    border-radius: 15px;
    padding: 5px;
    margin: 15px 5px 15px 5px;
    min-height: 150px;
}

h1 {
    text-align: var(--alignBig);
    color: var(--highlight);
    font-size: 40px;
    border: 1px solid black;
}

0h2 {
    position: relative;
    bottom: 20px;
    text-align: left;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10% 0px 10%;
    font-size: 20px;
    padding: 10px;
}

aside p, footer p {
    text-align: center;
    color: var(--highlight);
    font-size: 16px;
}

.card p {
    text-align: left;
    color: var(--highlight);
    font-size: 16px;
}

footer {
    border: 1px solid #666;
    border-radius: 15px;
    background-color: var(--sectionbg);
}

@media screen and (max-width: 992px) {
    .card {
      width:50%;
    }
  }
  
@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
