* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: rgb(54, 87, 51);
    border-bottom: 2px solid rgb(54, 87, 51);
    transition: color 0.25s;
    transition: border 0.25s;
}

a:hover, a:focus {
    text-decoration: none;
    color: rgb(176, 219, 187);
    border-bottom: 2px solid rgb(176, 219, 187);}

h3 {
    font-weight: 100;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0px;    
}

#profilePic {
    margin: 15px 0px;
    width: 150px;
    height: 150px;
    border: 5px solid lightgrey;
    border-radius: 20px;
}


.header {
    text-align: center;
    top: auto;
    margin: 5px auto;
    padding: 25px;
    min-width: 175px;
    background-color: rgb(54, 87, 51);
    opacity: 85%;
}

.sidebar {
    background-color: rgb(54, 87, 51);
    background-image: url("../Images/profile_banner_portrait.jpg");
    color: #fff;
}

#myName, #tagline {
    margin: 5px 0px;
}

#tagline {
    font-weight: 300;
    color: rgb(176, 219, 187);
    font-style: italic;
}

nav {
    margin: 30px auto;
}

.nav-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav-item {
    display: block;
    *display: inline;
    margin-bottom: 10px;
}

.nav-item a {
    border-bottom: 2px solid rgb(176, 219, 187);
    color: rgb(176, 219, 187);
    letter-spacing: -0.5px;
    transition: color 0.25s;
    transition: border 0.25s;
}

.nav-item a:hover,
.nav-item a:focus {
    color: white;
    border-bottom: 2px solid white;
    text-decoration: none;
}

.content {
    padding: 2em 1em 0;
    background-color: white;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    width: 66%;
    font-size: 1.75em;
    letter-spacing: -0.05em;
    color: rgb(54, 87, 51);
    margin-bottom: 0.5em;
    padding-bottom: 3px;
    border-bottom: 5px solid lightgrey;
}

.post-description {
    color: #444;
    line-height: 1.75em;
    margin-left: 10px;
}

#projectContainer {

    margin: 0px;
    padding: 0px;
    width: 100%;
    obackground-color: #eee;
}

.project {
    margin: 0em 0.07em 0.4em 0em;
    max-width: 100%;
    min-height: 150px;
    border: 5px solid lightgrey;
    border-radius: 10px;
    filter: grayscale(66%);
}

.project:hover {
    filter: none;
    transition: filter 0.5s ease-in-out;
}

.project p {
    margin: 0px 0px 0px 10px;
    padding: 5px 5px 5px 10px;
    font-size: 125%;
    letter-spacing: -1px;
    width: 66%;
    background-color: lightgrey;
    color: black;
    border-radius: 0px 0px 5px 5px;
}

.project span {
    font-size: 75%;
}

#project1 {
    background-image: url('../Images/pic_wd.jpg');
    background-size: cover;
}

#project2 {
    background-image: url('../Images/pic_rps.jpg');
    background-size: cover;
}

#project3 {
    background-image: url('../Images/pic_ws.jpg');
    background-size: cover;
}

#project4 {
    background-image: url('../Images/pic_cr.jpg');
    background-size: cover;
}

footer {
    padding: 1em 0;
}

footer .container {
    display: flex;
    align-content: center;
}

footer ul {
    margin: 0px;
    padding: 10px 0px 0px 10px;
}

footer li {
    list-style-type: none;
    font-size: 90%;
}

@media (min-width: 48em) {

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        border-right: 5px solid lightgrey;
    }

    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    
    }

    .header {
        margin: 40% 2em 0;
        text-align: right;
        border-radius: 20px;
    }

    .project {
        max-width: 49%;
    }

    .footer {
        text-align: center;
    }
}